input[type="submit"] {
    height: 35px;
    width: 40%;
    display: block;
    margin: 0 auto;
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 20px;
}